*.sublime-workspace
*.py[cod]
dump.rdb
.env
envvars
envvars.env
venv/
venv_outdated/
venv_outdateddev/
.idea
.DS_Store
.bandit-output.html
celerybeat.pid
node_modules
.deploy.log
*.csv
**/staticfiles
*.coverage
coverage
.vscode/*
