<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Load the static files -->
    {% load static %}
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Optional CSS link -->

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="index.html"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'expenses:list' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Expenses</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'expenses:upload_receipt' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Upload Receipt</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'expenses:upload_csv' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Upload CSV</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Logout</span></a
          >
        </li>
      </ul>

      <main id="content-wrapper" class="d-flex flex-column">
        <!-- Page content will be inserted here -->
        <div id="content">
          <div class="container-fluid">{% block content %} {% endblock %}</div>
        </div>
      </main>
    </div>
    <footer>
      <p>&copy; 2025 My App</p>
    </footer>
  </body>
</html>
