{% extends 'base.html' %} 
{% block content %}
<h1>Expenses for {{ category }} in Month {{ month }} {{year}}</h1>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expenses %}
    <tr>
      <td>
        {{ expense.transaction_date }}
      </td>
      <td>
        {{ expense.merchant }}
      </td>
      <td>
        ${{ expense.amount }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
